@import 'utilities.css';
:root{
--primary: rgb(29, 221, 189);
--bgDark: rgb(12, 12, 12);
--white: rgb(250, 250, 250);
--secondary: rgb(0, 59, 50);
--bgLight: rgb(190, 181, 181);
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
header
{
background-color: var(--bgDark);
clip-path: polygon(0 0, 100% 0, 100% 100%, 73% 94%, 0 100%);
}
header nav .left a{
color: var(--white);
text-decoration: none;
margin-right: 2rem;
text-transform: uppercase;
transition: all .2s ease;
}
header nav .left a:hover{
color: var(--primary);
}
header nav {
padding: 2rem 0;
}
header nav .logo{
margin-right: 3rem;
}

body
{
font-family: 'Poppins', sans-serif;
}
.container
{
max-width: 1152px;
padding: 0 15px;
margin: 0 auto;
}
.hero
{
padding-top: 2rem;
padding-bottom: 3rem;
background-color: black;
}
.hero .left img
{
width: 400px;
margin-left: 120px;
}
.hero .right 
{
color: var(--white);
margin-top: -7rem;
}
.hero .right h6
{
font-size: 1.6rem;
color: var(--primary);
margin-bottom: 0.5rem;
}
.hero .right h1{
font-size: 4rem;
font-weight: 100;
line-height: 1.2;
margin-bottom: 2rem;
}
.hero .right h1 span{
color: var(--primary);
}
.hero .right p{
line-height: 1.9;
margin-bottom: 2rem;
}
.flex
{
display: flex;
}
.items-centre{
align-items: center;
}
.justify-between{
justify-content: space-between;
}
.justify-center{
justify-content: center;
}
.justify-right{
justify-content: right;
}
/* .contact-btn{
padding: 0.6rem 2rem;
font-size: 1rem;
font-weight: 600;
border: 2px solid;
outline: none;
cursor: pointer;
text-transform: uppercase;
transition: all .2s ease;
}
.contact-btn{
background-color: var(--primary);
color: var(--secondary);
margin-top: -15rem;
}
.contact-btn:hover{
background: transparent;
border-color: var(--primary);
color: var(--primary);
} */
.flex-1{
flex: 1;
}
.btn-secondary{
background: transparent;
color: var(--primary);
border-color: var(--primary);
}
.btn-secondary:hover{
background: var(--primary);
color: var(--secondary);
}

section
{
padding: 6rem;
}
section.about h1{
margin-bottom: 1rem;
font-size: 1.6rem;
font-weight: 600;
}
section.about h1 span{
color: var(--primary);
}
section.about h3{
font-size: 1rem;
margin-bottom: 1rem;
font-weight: 600;
}
section.about p{
font-family: 'Lato', sans-serif;
color: var(--secondary);
line-height: 1.9rem;
margin-bottom: 2rem;
}
section.about .socials{
display: flex;
}
section.about .socials a{
display: flex;
align-items: center;
justify-content: center;
width: 35px;
margin-right: 0.8rem;
border-radius: 50%;
}
section.about .socials a:hover{
background:white;
}
section.services
{
background: rgb(17, 17, 17)
}
.projects-head
{
color: rgb(10, 9, 9);
text-align: center;
margin-bottom: 1rem;
line-height: 0.5rem;
color: var(--primary);
}
.project-box-content p
{
/* color: var(--primary); */
color: rgb(10, 9, 9);
font-family: 'Lato', sans-serif;
margin-bottom: 1rem;
text-align: center;
margin-bottom: 6rem;
font-weight: 400;
}
.project-box-content h2{
    color: var(--primary);
}
/* .card img
{
width:30%;
background:white;
}
section.services .card-grid
{
display: grid;
grid-template-columns: repeat(3,1fr);
column-gap: 2rem;
}
section.services .card-grid .card
{
background: var(--white);
padding: 3rem 2rem;
position: relative;
text-align: center;
transition: all .2s ease;
}
section.services .card-grid .card img
{
position: absolute;
top: -1.5rem;
left: 50%;
transform: translateX(-50%);
color: var();
}
section.services .card-grid .card h2
{
font-weight: 600;
font-size: 1.2rem;
margin-bottom: 0.5rem;
}
section.services .card-grid .card p
{
font-family: 'Lato', sans-serif;
color: var(--seconday);
line-height: 1.6;
}
section.services .card-grid .card:hover
{
background: var(--primary);
}
section.services .card-grid .card:hover h2
{
color: var(--white);
}
section.services .card-grid .card:hover p
{
    color: var(--white);
} */
.download-btn a
{
    background: aqua;
    padding: 14px;
    text-decoration: none;
    border-radius: 8px;
    color: black;
   
}

.right .contact-btn{

    background: aqua;
    padding: 8px;
    text-decoration: none;
    border-radius: 4px;
    color: black;   
}

.project-box-1
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}
.project-box-2
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-bottom: 100px;
    margin-left: 20px;
}
.project-box-img img
{
    width:600px;
}
.projects-head{
    font-size: 42px;
    margin-bottom: 78px;
}

.project-box-content
{
    margin-left: 35px;
    margin-right: 20px;
}

.project-box-content p{

   line-height: 1.9;
   margin-bottom: 2rem;
   font-family: 'Poppins', sans-serif;
   text-align: left;
   color: var(--white);
}
.Projects
{
    background-color: black;
}
.blog-head
{
    text-align: center;
    color: color;
    font-weight: 700;
    margin-bottom: 40px;
    line-height: 0.5rem;
    font-size: 40px;
}

.blog-cards
{
    display: flex;
    justify-content: space-around;
}
.blog-card-1
{
    border-radius: 10px;
    border-color: aqua;
    width:21.5rem;
    background-color: var(--primary);
    padding: 20px;
}
.card-img-top
{
    width: 100%;
    object-fit: cover;
    height: 180px;
    margin-bottom: 20px;
}
footer
{
    background-color: black;
    color: var(--primary);
}
.socials
{
    display: flex;
    justify-content: right
}
.socials figure{
    margin-right: 20px;
    text-align: center;
}
.socials figcaption
{
    margin-top: 10px;
}
.contact-us
{
    padding: 40px;
}
.contact-us h1
{
    text-align: center;
    margin-bottom: 30px;
}
.info .logo img
{
    width: 200px;
}
.info-mail{
    margin-top: 30px;
    border: 1px solid;
    width: 260px;
}
.info-mail a
{
    color: var(--white);
}
.card-text
{
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

/* mobile  view */


@media (min-width: 320px) and (max-width:480px)
 {
   
    .hero
    {
        padding: 0px !important;
        flex-direction: column;
    }

    .hero .left img {
        width: 300px;
        margin-left:0px !important;
    }
    .hero .right {
        margin-top: 0px !important;
        text-align: center;
    }
    .hero .right h6{
        font-size: 20px;
    }
    .hero .right h1 {

        font-size: 20px;
        margin-bottom: 5px !important;
    }
    .download-btn
    {
        margin-bottom: 30px !important;
    }
    .download-btn a {
        padding: 10px;
        font-size: 12px;
    }
   #About
   {
    padding: 0px;
    padding-top: 20px;
   }
   #About .container
   {
     flex-direction: column;
   }
   #About .container .left img
   {
    width: 300px;
    height: 400px !important;
   }
   #About .container .right
   {
    padding-top: 20px;
   }

   #Projects { 
    /* padding: 3rem !important; */
    padding: 0px !important;
   
   }
   .projects-head 
   {
        font-size: 35px;
        margin-bottom: 50px;
        padding-top: 30px;
    }
   

   .project-box-content 
   {
         margin: 0px !important;
   }
   .project-box-1 {
       flex-direction: column;
   }
   
   .project-box-img img {
    width: -webkit-fill-available;
   }

   .project-box-2
   {
    flex-direction: column;
   }
  
   #Blog
   {
     padding: 0px !important;
   }
   .blog-cards {
    flex-direction: column;
   }
   .blog-card-1 {
    width: 18.5rem;
    margin-bottom: 20px;
    align-self: center;
   }
   .blog-head {
     font-size: 30px;
   }
   .project-box-1
   {
    margin-bottom: 50px;
   }
   .project-box-2 {
    margin-bottom: 50px;
    margin-left: 0px;
   }
   .project-box-content h2 {

      margin-bottom: 10px;
   }

   .last
   {
    padding-bottom: 20px;
   }

   .logo
   {
     text-align: center;
     display: none;
   }
   /* .info .logo img 
   {
    width: 100px;
   } */
   .socials {
    padding-top: 35px;
   }
/* 
   header nav .logo {
      margin-right: 0px !important;
      margin-bottom: 20px;
   } */
   header nav 
   {
     flex-direction: column;
   }
   header nav .left
   {
     flex-direction: column;
   }
   header nav .left a 
   {

    margin-right: 1rem;
   }
  
   header nav .right
   {
    margin-top: 20px;
   }
    
}


  /* Ipad view */

  @media (min-width: 481px) and (max-width:768px) 
  {
        

  }